.sidebar {
    position: absolute;
    left:0;
    top:0;
    height:100vh;
    background-color:rgba(28,28,28,0.8);
    width:100%;
    z-index: 0;
}

.burger {
  cursor:pointer;
}

.aboutLink {
  cursor:pointer;
}
