.frontPageWrapper {
    background-color: rgb(29,29,29);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    z-index:1;

    .frontPageHeader {
      width:100%;
      height:50px;
      margin-top:50px;
      display:flex;
      justify-content: space-between;
          
        .logo {
          height:auto;
          width: 100px;
          margin-left:50px;
          position: relative;
          z-index: 1;
        }
        
        .burger {
          height:20px;
          width:auto;
          margin-right:50px;
          position: relative;
          z-index: 1;
        }

        .sidebar {

          ul {
            position: relative;
            top:250px;

            li {
              list-style: none;
              color: #fff;
              text-decoration: none;
              font-weight: 500;
              font-size: 22px;
              margin-bottom:30px;
            }
          }
        }
    }
    
    .oliverBackground {
      background-image: url('assets/img/Oliver.png');
      height:400px;
      width:300px;
      background-position: center center;
      background-size:cover;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
      z-index: -1;
    }

    .introduction {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      position: absolute;
      bottom:50px;
      left:0;
      right:0;
      width:300px;
      justify-content: center;
      text-align: center;
      z-index:-1;
    }

    h1 {
      font-family: Lato;
      color: #fff;
      text-align: center;
      margin: 0;
      letter-spacing:1px;
      font-weight: 300;
      font-size: 25px;

    }

    p {
      font-family: Lato;
      font-weight: 500;
      font-size: 13px;  
      margin: 7.5px 0 0 0;
      letter-spacing:1.5px;
    }

    h3 {
      font-family: Lato;
      font-weight: 500;
      font-size: 15px;
      margin: 35px 0 5px;
    }

    .frontPageButton {
      font-family: Lato;
      font-weight: 500;
      color: #fff;
      background-color:transparent;
      text-align: center;
      font-size: 15px;
      padding: 7.5px;
      letter-spacing: 1px;
      border: .5px solid #fff;
      width: 150px;
      border-radius: 7.5px;
      margin: 20px auto;
      transition: 0.3s ease-in-out;
      cursor:pointer;

      &:hover {
        background-color:#fff;
        color:#000;
        transition: 0.3s ease-in-out;
      }
    }
  }



  
